rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }
    match /comments/{commentId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /activities/{activityId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
